<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Provinces of Ireland
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!--Cordova Plugins-->
  <h3>FlashLight</h3>

<!--button for flashlight -->
<ion-button (click) = "flashLight()"> FlashLight </ion-button>

<hr>


<h3>Get Location</h3>

<!--button to find current location -->
<ion-button (click)= "GPS()"> Get Location </ion-button>

<br>

<!--Data Binding for current location-->
{{lat}}, {{long}}

<!--Unordered list of the provinces and roter links to thier own pages -->
<ul>
  <li [routerLink] = "['/ulster']" routerDirection = "foward"> Ulster</li>
  <li [routerLink] = "['/munster']" routerDirection = "foward"> Munster</li>
  <li [routerLink] = "['/connacht']" routerDirection = "foward"> Connacht</li>
  <li [routerLink] = "['/leinster']" routerDirection = "foward"> Leinster</li>

</ul>

</ion-content>
